# 데이터베이스 파일 및 볼륨 폴더 제외 (이게 핵심!)
data/
db_data/
postgres_data/

# 파이썬 컴파일 파일 제외
__pycache__/
*.pyc

# 가상환경 폴더 제외
.venv/
venv/
env/

# 환경변수 파일 제외 (비밀번호 들어있음)
.env

# 맥/윈도우 시스템 파일 제외
.DS_Store
Thumbs.db

# IDE 설정 파일 제외
.vscode/
.idea/